
body{
    background-color: #eae1da;
}

.outter{
    margin:0 200px 0 200px;
    width:960px;
}

.circle {
    background:white;
    border-style: solid;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background-image: url('images/avatar1.png'); 
}

.head-title{
    text-align: right;
    padding: 0 30% 0 0;
    font-size: 30px;
    text-transform: uppercase;
}


.circle-contact{
    float: left;
    width: 10px;

}
.aboutme-edudetails{
    float: right;
}

.aboutme-edudetailsworkexp{
    float: right;
    width: 500px;
}

.skills-dots{
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  

}
.level-color{
    background-color:green;
}

.skill-span{
    width: 100px;
    display: inline-block;
}

.underline-css{
    text-decoration: underline;
    
}

.underline-css:hover{
    text-decoration: none;
}
.default {
    cursor: default;
}
